---
---
<div class="w-full flex flex-col items-center justify-center text-left gap-6 //reveal-on-scroll">

  <h1 class="text-4xl md:text-6xl lg:text-6xl text-brand-secondary font-primary leading-normal">A Complete Media <span class="text-brand-primary inline-block relative px-4 py-2 transition-all duration-300 ease-out hover:scale-110 hover:rotate-3 group">
      
      <svg class="absolute inset-0 w-full h-full stroke-brand-primary opacity-20 fill-none transition-all duration-300 group-hover:opacity-100 group-hover:scale-120" 
          viewBox="0 0 100 100" 
          preserveAspectRatio="none">
        <path d="M5,50 C5,15 95,10 95,50 C95,90 10,95 8,53 C7,35 40,8 85,15" 
              stroke-width="2" 
              stroke-linecap="round"/>
      </svg>

      <span class="relative z-10 font-bold">
        Ecosystem
      </span>   
  </h1>

   <p class="font-secondary text-sm text-brand-secondary md:text-sm lg:text-[20px]">Everything you need to make your brand complete, in one place.</p>

<div class="flex flex-col gap-3 w-full lg:flex-row">
  
  <div class="w-full flex flex-col items-start justify-center text-left gap-6 border border-brand-secondary/60 p-4 rounded-4xl bg-brand-bg">
    <h2 class="text-2xl">ENGAGE</h2>
    
    <div class="w-full flex flex-row items-start  text-left gap-6 border border-brand-secondary/60 p-4 rounded-full bg-brand-bg">

        <div class="w-5 h-5 bg-amber-400 rounded-full rounded-tr-none lg:w-[30px] lg:h-[30px]">
        </div>

        <p class="font-secondary text-sm text-brand-secondary md:text-sm lg:text-[20px]">Advertising</p>
      

    </div>




  </div>

  <div class="w-full flex flex-col items-start justify-center text-left gap-6 border border-brand-secondary/60 p-4 rounded-full  bg-brand-bg">
    <h2 class="text-2xl">AMPLIFY</h2>
    <!-- CARD CONTENT HERE -->




  </div>

  <div class="w-full flex flex-col items-start justify-center text-left gap-6 border border-brand-secondary/60 p-4 rounded-full bg-brand-bg">
    <h2 class="text-2xl">SCALE</h2>
    <!-- CARD CONTENT HERE -->




  </div>


</div>
</div>