---
import ButtonOutline from "../buttons/buttonOutline.astro";
import DomainCard from "../cards/DomainCard.astro";
import WideImage from "../cards/WideImage.astro";
---
<div class="p-4 lg:px-30 lg:pt-8">
  <div class="w-full flex flex-col items-center justify-center text-left gap-6 reveal-on-scroll custom-cursor-area">

    <h1 class="text-4xl md:text-6xl lg:text-6xl text-brand-secondary font-primary leading-normal">A Complete Media <span class="text-brand-primary inline-block relative px-4 py-2 transition-all duration-300 ease-out hover:scale-110 hover:rotate-3 group"> 
        
        <svg class="absolute inset-0 w-full h-full stroke-brand-primary/20 fill-none transition-all duration-300 group-hover:opacity-100 group-hover:scale-120" 
            viewBox="0 0 100 100" 
            preserveAspectRatio="none">
          <path d="M5,50 C5,15 95,10 95,50 C95,90 10,95 8,53 C7,35 40,8 85,15" 
                stroke-width="2" 
                stroke-linecap="round"/>
        </svg>

        <span class="relative z-10 font-bold font-special">
          Ecosystem
        </span>   
    </h1>

    <p class="font-secondary text-sm text-brand-secondary md:text-sm lg:text-[20px]">Everything you need to make your brand complete, in one place.</p>

  <div class="flex flex-col gap-4 w-full lg:flex-row lg:gap-6">

    <DomainCard 
      cardTitle="ENGAGE"

      domainOne="Advertising"
      domainOneC="bg-domain-adv"

      domainTwo="Digital"
      domainTwoC="bg-domain-digital"

      domainThree="Social"
      domainThreeC="bg-domain-social"
    />

      <DomainCard 
      cardTitle="AMPLIFY"

      domainOne="Publishing"
      domainOneC="bg-domain-pub"

      domainTwo="Events"
      domainTwoC="bg-domain-events"

      domainThree="Public Relations"
      domainThreeC="bg-domain-pr"
    />

      <DomainCard 
      cardTitle="SCALE"

      domainOne="Government Consultancy"
      domainOneC="bg-domain-gov"

      domainTwo="Media Consultancy"
      domainTwoC="bg-domain-mediaconsulting"

      domainThree="Online Media Assets"
      domainThreeC="bg-domain-onlinemedia"
    />



  </div>


  <ButtonOutline text="See More"/>

</div>

  
