---
import CTA from "../buttons/CTA.astro";
---
<div class="w-full bg-brand-secondary">

  <div class="p-4 flex flex-col gap-4 lg:sticky lg:p-8 lg:flex-row lg:gap-6 lg:items-center lg:justify-between">

    <h1 class="text-brand-bg text-4xl lg:text-5xl text-left tracking-[-0.03em] lowercase">
      Ready to <span class="text-brand-primary">boost </span>your brand? Tell us about it.
    </h1>

    <div class="shrink-0">
      <CTA text="GET STARTED" />
    </div>

</div>



</div>