---
/*IMPORTS */
import { Image } from 'astro:assets';
import umsLogo from '../assets/logo-main-svg.svg';
import CTA from '../buttons/CTA.astro';

interface Props {
  titleBeforeGold: string;
  titleGoldWord: string;
  titleAfterGold: string;
  subtitle: string;
  buttonAction: string;
}

const { 
  titleBeforeGold, 
  titleGoldWord, 
  titleAfterGold, 
  subtitle, 
  buttonAction 
} = Astro.props;

---

<div class="w-full min-h-[calc(100vh-2rem)] md:min-h-[calc(100vh-4rem)] flex flex-col items-center justify-center text-center gap-6 md:gap-8 py-6">

  <h1 class="text-4xl md:text-6xl lg:text-7xl text-brand-secondary font-bold leading-normal">{ titleBeforeGold }<span class="text-brand-primary">{ titleGoldWord }</span> {titleAfterGold}</h1>

  <p class="text-sm text-brand-secondary md:text-sm lg:text-[20px]">{ subtitle }</p>

  <CTA text= `${ buttonAction }`/>

</div>