---
/*IMPORTS */
import { Image } from 'astro:assets';
import umsLogo from '../assets/logo-main-svg.svg';
import CTA from '../buttons/CTA.astro';

---

<div class="w-full px-7 py-7 flex flex-col items-center justify-center text-center gap-4">

  <div class="w-fit border border-brand-secondary p-2 rounded-full text-sm font-brand-primary">HOME</div>

  <h1 class="text-4xl md:text-6xl lg:text-8xl text-brand-secondary font-bold">Oman's <span class="text-brand-primary leading-normal">Largest</span> Integrated Media Group</h1>

  <p class="text-sm text-brand-secondary">All in one media solution for your brand.</p>

  <CTA text="GET STARTED"/>


</div>