---
import ButtonOutline from '../buttons/buttonOutline.astro'
import Testimonials from '../cards/Testimonials.astro'
---
<div class="p-4 lg:px-0">
  <div class="w-full flex flex-col text-left gap-6 reveal-on-scroll custom-cursor-area lg:text-center">

  <div class="p-4 lg:px-30">

    <h1 class="text-4xl md:text-6xl lg:text-6xl text-brand-secondary font-primary leading-normal">
      The <span class="text-brand-primary font-bold inline-block transform transition-transform duration-300 hover:scale-110">
  Most Trusted
</span>
Media Agency in Oman.    
    </h1>

    <p class="font-secondary text-sm text-brand-secondary md:text-sm lg:text-[20px]">
      United Media Services is trusted by the brands you trust.
    </p>

  </div>

  <Testimonials />
  
  <div class="flex flex-col items-center justify-center"> 
    <ButtonOutline text="Learn More"/> 
  </div>


</div>





