@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";


@theme {
  --color-brand-bg: #f2f2f2;
  --color-brand-primary: #FDAF17;
  --color-brand-secondary: #424242;

  --font-primary: "Manrope", sans-serif;
}

@layer base {
  body{
    background-color: var(--color-brand-bg);
    color: var(--color-brand-text);
    font-family: var(--font-primary);
    min-height: 100vh;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
  }

  @layer components {
 
    .sidebar-brand-panel {
      @apply fixed top-0 right-0 h-screen w-[300px] sm:w-[400px] z-40;
      @apply bg-brand-primary text-brand-secondary;
      @apply p-8 flex flex-col gap-8 shadow-2xl;
      @apply border-l border-brand-secondary/10;
    }
  } 

  @layer utilities {
    .nav-hidden {
    transform: translateY(-100%) !important;
  }
  
  }
}




/*Font Globals*/

h1 {
  font-family: var(--font-primary);
  font-weight: medium;
  color: var(--color-brand-secondary);
}

h1 span {
  color: var(--color-brand-primary);
}

p {
  font-family: var(--font-primary);
}

button {
  font-family: var(--font-primary);
}

html, body {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}

