---
import { Image } from 'astro:assets';
import dividerSvg from '../../assets/divider.svg';
---
<div class="p-4 lg:px-30">
  <img src={dividerSvg.src} alt="Section Divider" class="w-full py-6 " />
</div>
